<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTBj-RQhmZVB5WFf3ZH7m_euGEHBwwdGg</string>
	<key>GCM_SENDER_ID</key>
	<string>880473771126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agoraVideoVoiceCallApp</string>
	<key>PROJECT_ID</key>
	<string>agoravideocallapp-9c3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>agoravideocallapp-9c3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880473771126:ios:28c649551f4d8eef7c2357</string>
</dict>
</plist>